export(as.factor)
export(blkcmt)
export(combn)
export(data.frame)
export(denumgrp)
export(evalstr)
export(fast_split)
export(file)
export(head_recurse)
export(history)
export(hwrite.list)
export(intersect)
export(intersect2)
export(kernapply.ts)
export(kernel.tricube)
export(kernel.triweight)
export(lenumgrp)
export(library)
export(locmax)
export(locmin)
export(mergele)
export(nonuniq)
export(read.csv)
export(read.tsv)
export(read.uneven.tsv)
export(rowVars)
export(set_fisher.test)
export(setdiff)
export(setSelfNames)
export(sort)
export(stopif)
export(strsepcol)
export(system)
export(tail_recurse)
export(unblkcmt)
export(unlist)
export(unrownames)
export(write.lines)
export(write.tsv.list)
export(write.tsv)
export(write.xlsx2)
import(devtools)
import(gtools)
import(hwriter)
import(plyr)
import(stats)
import(utils)
import(zoo)
S3method(as.factor,data.frame)
S3method(as.factor,default)
S3method(intersect,data.frame)
S3method(intersect,default)
S3method(setdiff,data.frame)
S3method(setdiff,default)
S3method(write.lines,data.frame)
